
    .right{
        
        display: inline-block;
        right: 20px;
        position: absolute;
    }

    .left{
        
        display: block;
        left: 20px;
        position: absolute;
        width: 10%;
        height: 18%;
    }
    .left img{
        width:100%;
        height: 100%;
    }

    
        


    .btn{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display:inline-block;
        margin: 10px;
        padding: 16px;
        background-color: #063148;
        color: #89c8e9;
        font-size: medium;
        border: #063148;
        border-radius: 18px;
    
     }

     .btn:hover{
        background-color: #4d6e81;
     }
     .mid{
        /* border: 5px solid yellow; */
         display: block;
         margin: 20px auto;
         width: 631px;
     }
 
     .navbar{
         display: inline-block;
         top: 40px;
         color: #041e2d;
         
     }
 
     .navbar li{
         display: inline-block;
         padding: 10px;
         top:30px;
         width: fit-content;
         
     }
 
     .navbar li a{
         color: #89c8e9;
         text-decoration: none;
         font-size: 20px;
         width: fit-content;
         top:30px;
     }
 
     .navbar li a:hover{
         color: #a56806;
     }
 
     .container{
       /* border: 3px dotted white;*/
         display: inline-block;
         left: -411px;
         position: relative;
         margin-top: 86px;
         width: 355px; 
         height: 500px;   
     }
 
     /*.formgrp input{
         display: block;
         width:288px;
         height: 45px;
         margin: 36px auto;
         border-radius: 20px;
         border: 2px solid black;
         text-align: center;
         font-size: 17px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         
     }
    

